
 :root {
    box-sizing: inherit;
    font-size: 1em;
}



header{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 90vh;
    background: url(img/concierto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1{
     font-family:'Monoton', cursive;

}

.navHeader{
    background-color: #000000;
    color: whitesmoke;
    margin-top: 1em;
    width: 100%;
}


.navHeader ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}


.navHeader ul li{
    color: #fafafa;
    list-style: none;
    padding: 1em;
}

.navHeader ul li:hover{
   border-bottom: solid;
   border-bottom-color: #fafafa;
}


.navHeader ul li a{
    text-decoration: none;
    color: #fff;
}

h1 {
    font-size: 10vh;
}

.imgLogo{
    height:80px;
    width:80px;
}

.imgLogo img{
    height: 100%;
    width: 100%;
position: relative;

}
header div{
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
 color: #fff;
    align-items: center;
}

header div p {
    font-size: 3em;
}

main{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    width: 100%;
}
main h3{
    text-transform: capitalize;
    color: #3e1f14;
font-size: 1.5em;
}


.imgFeauture{
    max-height: 250px;
    width: 100%;
    margin-bottom: 1.5em;
}


main img{
    height: 100%;
    width: 100%;
    position: relative;
    top: 2em;
}
main div{
    padding: 0 .5em .5em .5em;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 0.5em;
    border-style: none;
    border: 1px #c4c4be solid;
    margin: 5px;
}

.BotonRead{
box-sizing: border-box;
    border: none;
    padding: 2em;
    margin-bottom: 2em;
    background-color: #f1970e;
    color:white;
    border-radius: 0.5em;
    width: 100%;
    text-align: center;
}
.BotonRead:hover{
    opacity: 0.5;
    cursor: pointer;
}
.Suscripcion{
    background-image: url(img/contacus.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 100%;
}


.DivDatos{
    box-sizing: border-box;
    padding: 10%;
    color: white;
    width: 100%;
    height: 100%;     
    display: grid;
    padding: 5%;

    grid-template-columns: 50% 50%;
}

.ContactUs
 {
    border-radius: 10%;
    opacity: 0.8;
background-image: #b18af0;

}

::placeholder {
    font-size: 1.5em;
}

.BotonContact{
    box-sizing: border-box;
        border: none;
        margin-bottom: 2em;
        background-color: #f1970e;
        color:white;
        border-radius: 0.5em;
        width: 100%;
        text-align: center;
    }
    .BotonContact:hover{
        opacity: 0.5;
    }





.DivDatos form #comment{
    
    width: 100%;
    height: 6em;
}



footer{
    width: 100%;
    display: grid;
    grid-template-columns: 40% 40%;
    background: #000000;
    color: white;
    justify-content: space-around;
}
footer ul{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: #ffffff;
}


@media only screen and (max-width: 620px) {
    main{
        grid-template-columns: 50% 50%;
    }

    ::placeholder {
        font-size: 0.5em;
    }


}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    .DivDatos{
        display: block;
        position: relative;
        display: grid;
        grid-template-columns: 100%;
        color: #000000;
    }
    
    .Texto 
    {
        margin-bottom: 1em;
        align-items: center;
        align-content: center;
    }

    .DivDatos form #comment{
        height: 3em;
    }
    
    .ContactUs
 {
    color: #fff;
    border-radius: 10px;
    background: rgba(180, 37, 37, 0.3);
    backface-visibility: 0.3;
}
}

@media only screen and (max-width: 320px) {
    .DivDatos{
        grid-template-columns: 100%;
        grid-template-rows: 45% 45%;
    }

    header
    {
        font-size: 2em;
    }
}
